.sidebar .nav-item .nav-link.active {
    color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.2);
}

.sidebar .nav-item .nav-link.active i {
    color: rgba(0,0,0,1);
 }

.sidebar-dark .nav-item .nav-link {
    color: rgba(0,0,0,0.9);
}

.sidebar-dark .nav-item .nav-link i {
    color: rgba(0,0,0,0.9);
}

.sidebar-dark .nav-item .nav-link:hover {
    color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.1);
}

.sidebar-dark .nav-item .nav-link:hover i{
    color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.1);
}

.fontBeranda{
    font-family: Broadway;
}

.top-menu{
    height: 15%;
}

.garisKuning{
    border-color: #FFC42D;
}

.sidebar-dark #sidebarToggle{
    background-color: darkgoldenrod;
}

.sidebar-dark #sidebarToggle:hover{
    background-color: rgba(50,50,50,0.6);
}
